{{#each data}}
    <div class="articles__container">
        <img class="articles__photo" src="{{photo}}" alt="photo">
        <h6 class="articles__name">{{name}}</h6>
        <p class="articles__description">{{description}}</p>
        <a class="button button--narrow">Read all</a>
    </div>
{{/each}}